git+https://github.com/huggingface/diffusers.git
torch
torchvision
torchaudio
torchlibrosa
huggingface_hub
transformers
timm
ftfy
gradio
soundfile
phonemizer
progressbar
pyloudnorm
pandas
librosa
matplotlib
unidecode
cog
